<a href="https://colab.research.google.com/github/KPavanteja2323/DATA-MINING/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

encoding

In [2]:
col_data = {'color':['Red','Green', 'Blue','Yellow','Black','White']}
df_col = pd.DataFrame(col_data)

perform one hot encoding

In [3]:
one_hot_encoded = pd.get_dummies(df_col['color'],prefix = 'Color')

In [6]:
one_hot_encoded = one_hot_encoded.astype(int)

In [5]:
print(one_hot_encoded)

   Color_Black  Color_Blue  Color_Green  Color_Red  Color_White  Color_Yellow
0            0           0            0          1            0             0
1            0           0            1          0            0             0
2            0           1            0          0            0             0
3            0           0            0          0            0             1
4            1           0            0          0            0             0
5            0           0            0          0            1             0

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
label_encoder = LabelEncoder()

In [10]:
df_col['Color'] = label_encoder.fit_transform(df_col['color'])

In [13]:
print("\nDataFrame with Color_Label column:\n", df_col)

DataFrame with Color_Label column:
     color  Color
0     Red      3
1   Green      2
2    Blue      1
3  Yellow      5
4   Black      0
5   White      4

In [15]:
df_col['Color']

0    3
1    2
2    1
3    5
4    0
5    4
Name: Color, dtype: int64

In [17]:
import pandas as pd

In [21]:
df=pd.read_csv('/content/titanic.csv')

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le=LabelEncoder()

In [24]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [25]:
df['Gender']=le.fit_transform(df['Sex'])

In [26]:
df['Gender']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Gender, Length: 891, dtype: int64

In [32]:
emp=pd.read_csv('/content/EMP_SAL.csv')

In [36]:
emp

          DOB  BASIC_PAY    HRA     DA    TAX  Salary
0  2004-03-07      75000  12500   5200   4500   88200
1  2002-03-10      79500  13200   5600   5000   93300
2  2000-03-12      84000  13900   6000   5500   98400
3  1998-03-15      88500  14600   6400   6000  103500
4  1996-03-17      93000  15300   6800   6500  108600
5  1994-03-20      97500  16000   7200   7000  113700
6  1992-03-22     102000  16700   7600   7500  118800
7  1990-03-25     106500  17400   8000   8000  123900
8  1988-03-27     111000  18100   8400   8500  129000
9  1986-03-30     115500  18800   8800   9000  134100
10 1984-04-01     120000  19500   9200   9500  139200
11 1982-04-04     124500  20200   9600  10000  144300
12 1980-04-06     129000  20900  10000  10500  149400
13 1978-04-09     133500  21600  10400  11000  154500

In [37]:
emp['Salary']=emp['BASIC_PAY']+emp['HRA']+emp['DA']-emp['TAX']

In [38]:
emp['Salary']

0      88200
1      93300
2      98400
3     103500
4     108600
5     113700
6     118800
7     123900
8     129000
9     134100
10    139200
11    144300
12    149400
13    154500
Name: Salary, dtype: int64

In [39]:
emp

          DOB  BASIC_PAY    HRA     DA    TAX  Salary
0  2004-03-07      75000  12500   5200   4500   88200
1  2002-03-10      79500  13200   5600   5000   93300
2  2000-03-12      84000  13900   6000   5500   98400
3  1998-03-15      88500  14600   6400   6000  103500
4  1996-03-17      93000  15300   6800   6500  108600
5  1994-03-20      97500  16000   7200   7000  113700
6  1992-03-22     102000  16700   7600   7500  118800
7  1990-03-25     106500  17400   8000   8000  123900
8  1988-03-27     111000  18100   8400   8500  129000
9  1986-03-30     115500  18800   8800   9000  134100
10 1984-04-01     120000  19500   9200   9500  139200
11 1982-04-04     124500  20200   9600  10000  144300
12 1980-04-06     129000  20900  10000  10500  149400
13 1978-04-09     133500  21600  10400  11000  154500

In [40]:
from datetime import datetime

In [41]:
emp['DOB']=pd.to_datetime(emp['DOB'],format='%d-%m-%Y')